@page "/"

<PageTitle>Главная</PageTitle>

@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager

<div class="col-12" style="padding-bottom: 4em">
	<div class="card">
		<div class="card-body text-center">
			<img src="/images/mhlogo.jpg" alt="Логотип" style="width: 200px; height: 200px">
			<h2 style="margin-top: 4em">Личный кабинет студента</h2>
			<p>Войдите в свой аккаунт или зарегистрируйтесь</p>
		</div>
	</div>
</div>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/profile/studentgrades");
        }
    }
}